<header class="header">
  <div class="container">

    <div class="header-img">
      <img src="img/header.png" alt="Фото города">
    </div>

    <nav class="navigation">
      <a href="" class="logo">EADAS</a>

      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link link--active " href="#">Главная</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">Проекты</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">Награды</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">Контакты</a></li>
      </ul>
    </nav>

    <div class="header-name">
      <ul class="header-name__list">
        <li class="header-name__item"><a href="#" class="header-name__link">TWITTER</a></li>
        <li class="header-name__item"><a href="#" class="header-name__link">FACEBOOK</a></li>
        <li class="header-name__item"><a href="#" class="header-name__link">INSTAGRAM</a></li>
      </ul>

      <h1>Architecture<br>center.</h1>
    </div>

    <div class="header-info">
      <div class="header-info__phone--wrapper">
        <div class="header-info__phone">
          <img src="img/phone.svg" alt="Картинка телефона">
          <a href="tel:+380975674426">+38 (097) 567 - 44 - 26</a>
        </div>
        <div class="header-info__phone">
          <img src="img/phone.svg" alt="Картинка телефона">
          <a href="tel:+380975674486">+38 (097) 567 - 44 - 86</a>
        </div>
      </div>

      <div class="header-info__descr">
        <p>Действительно, никто не<br>отвергает, не презирает, не<br>избегает наслаждений<br>только потому, что это<br>наслаждения.</p>
      </div>
    </div>
  </div>
</header>
